header{
    display: flex;
    justify-content: center;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.padre{
    width: 50%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 4px #444444;
    border-radius: 10px;
    transform: skew(-4deg);
    background: linear-gradient(90deg , rgb(132, 80, 253) 0% , rgb(201, 63, 255) 50% , rgb(255, 61, 223) 100%);
    background-size: 300% 300%;
    animation: mover 5s linear infinite alternate;
    
}
@keyframes mover{
    0%{
        background-position:  0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 50% 0%;
    }
}
#puntuacion{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
#pregunta{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}
.botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.botom{
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all .2s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width:500px){
    .padre{
        width: 90vw;
        transform: skew(0deg);
        top: 40px;
    }
}

.container{
    width: 100vw;
    height: 110vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
}
.container button{
    width: 200px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border-color: transparent;
    font-size: 1.1em;
    cursor: pointer;
}
.container p{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.container .uno{
    background-color: greenyellow;
}
.container .dos{
    background-color: rgb(235, 163, 9);
}
.container .tres{
    background-color: rgb(241, 20, 13);
}
.listo{
    display: none;
    transition: all .2s linear;
}