@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
header{
    display: flex;
    justify-content: center;
}
body{
    background: linear-gradient(90deg , rgb(94, 224, 250) 0% , rgb(127, 127, 237) 100%);
    overflow-x: hidden;
}
.padre{
    width: 50%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 4px #444444;
    border-radius: 10px;  
    background-color: #fff;
    animation: mover 5s linear infinite alternate;  
    
}

#puntuacion{

     width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#E67E22;
    text-align: center;
}
#pregunta{
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color:#E67E22;
    font-weight: 600;
    text-align: center;
}
.botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.que{
    box-shadow: 0 0 10px red;
}
.que2{
    box-shadow: 0 0 10px rgb(60, 255, 0);
}
.holamundo{
    box-shadow: none;
}

.botom{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
   
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(135deg, #2D9CDB);
    transition: all .2s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:500px){
    .padre{
        width: 90vw;
        transform: skew(0deg);
        top: 40px;
    }
}

.container{
    width: 100vw;
    height: 110vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(66, 236, 255);
}
.container button{
    width: 200px;
    height: 40px;
    font-family: poppins;
    border-radius: 10px;
    border-color: transparent;
    font-size: 1.1em;
    cursor: pointer;
}
.container p{
    font-size: 2em;
    font-family:poppins;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.container .uno{
    background-color: greenyellow;
}
.container .dos{
    background-color: rgb(235, 163, 9);
}
.container .tres{
    background-color: rgb(241, 20, 13);
}
.listo{
    display: none;
    transition: all .2s linear;
}