
header{
    display: flex;
    justify-content: center;
}
body{
    background: linear-gradient(90deg , rgb(94, 224, 250) 0% , rgb(127, 127, 237) 100%);
    overflow-x: hidden;
}
.padre{
    width: 50vw;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 4px #444444;
    border-radius: 10px;  
    background-color: #fff;
    animation: mover 5s linear infinite alternate; 
   
}

#puntuacion{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#E67E22;
    text-align: center;
    margin: 0;
}
.pregunta{
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color:#E67E22;
    font-weight: 600;
    text-align: center;
}
.botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.botom{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(0, 140, 255);
    transition: all .2s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:500px){
    .padre{
        width: 85vw;
        transform: skew(0deg);
        top: 100px;
        position: absolute;

    }
}

.container{
    width: 100vw;
    height: 110vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(66, 236, 255);
    top: 0;
    left: 0;
}
.container button{
    width: 200px;
    height: 40px;
    font-family: poppins;
    border-radius: 10px;
    border-color: transparent;
    font-size: 1.1em;
    cursor: pointer;
}
.container p{
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.container .uno{
    background-color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container .dos{
    background-color: rgb(235, 163, 9);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container .tres{
    background-color: rgb(241, 20, 13);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.listo{
    display: none;
    transition: all .2s linear;
}
.correcto{
    color: rgb(0, 255, 42);
}
.incorrecto{
    color: red;
}

/* colores de los botones */

.rojo{
    background-color: red;
}
.verde{
    background-color: rgb(4, 255, 58);
}

/* estilos de la presentacion*/

:root{
    --color-1 : #fff ;
}
.seccion1{
    width: 100vw;
    height: 110vh;
    position: absolute;
    z-index: 1;
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.box_1{
    width: 20%;
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box_1 div{
    width: 100%;
    height: 30px;
    background-color: var(--color-1);
    border-radius: 10px;
}
.box_1 div:nth-child(1){
    position: absolute;
    left: 0;
    top: 0;
}
.box_1 div:nth-child(2){
    animation: girar 3s linear 1s forwards;
}
@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}
.box_1 div:nth-child(3){
    animation: mitad 3s linear 1s forwards;
    float: left;
    position:absolute;
    left: 0;
    bottom: 0;
}
@keyframes mitad{
    from{
        width: 100%;
    }
    to{
        width: 57%;
    }
}
.box_2{
    width: 50%;
    height: 30%;
}
.box_2 h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-style: italic;
    font-size: 1.5em;
}
.borrar{
    display: none;
}

@media (max-width:450px){
    .box_1{
        width: 50%;
        height: 27%;
    }
    .box_2{
        width: 80%;
    }
}